*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}
header{
  width: 100%;
}
.playerCont{
  padding: 5px;
  border: 5px outset black;
}
.deleteBtn {
  position: relative;
  bottom: 85px;
  float: right;
}
